@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  color: #fff;
  background: #0b365e;
}

:root {
  --mobile-nav-h: 5rem;
  --header-h-desktop: 6.5rem;
}

main
{
  background: #0b365e;
  min-height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
